@import '../../scss/variable.scss';
@import '../../componentes/Btn/Btn';

.thanks-container{
    height: 100vh;
    display: block;
}

.thanks__box {
    font-family: $primary-ff;
    top:0;
    justify-content: center;
    align-items: flex-start;
}

.bacode__thanks {
    width: 100%;
    margin:0;
    position: relative;
    margin-bottom: 4rem;
}
.bacoder_big{
    width: 100%;
    margin-bottom: 4rem;
}

.be__root span {
    color: color(color-btn);
}
.fa-duotone .fa-seedling{
    color:aqua;
}