@import '../../scss/variable.scss';
@import '../../componentes/Btn/Btn';
@import '../../scss/function';
@import '../../scss/typography';
@import '../../scss/font-family';
@import '../../scss/global';

.thanks-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.thanks__box {
    margin-top: 150px;
    font-family: $primary-ff;
    top: 0;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 70px;
}

.be__root span {
    color: aqua;
}