@import '../../scss/variable.scss';
@import '../../componentes/Btn/Btn';

.thanks-container{
    height: 100vh;
    display: flex;
    justify-content: center;
}

.thanks__box {
    font-family: $primary-ff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.bacode__thanks {
    width: 100%;
    margin:0;
    display: flex;
}
.bacoder_last{
    width: 100%;
}
.be__root span {
    color: color(color-btn);
}