@import '../scss/variable.scss';
@import '../componentes/Nav/Nav.scss';
@import '../componentes/Btn/Btn.scss';
@import '../scss/function';
@import '../scss/typography';
@import '../scss/grid';


.sg__h1{
    margin-top:240px;
    color:color(color-p);
}

.active{   
    display:flex;
}

li.nav__item {
    border-width: 0px 0px 0px 1px;
    border-color: color(color-border);
    border-style: solid;
    list-style: none;                                                
    padding: 30px;
    display: flex;
    flex-direction: row;
}

.icon__container{
    display: none;
}

.color__container{
    display: none;
}

.font__container{
    display: none;
}

