@import '../scss/variable.scss';
@import '../scss/function';
@import '../scss/typography';
@import '../scss/grid';

.sg__h1{
    margin-top:240px;
    color:color(color-p);
}
.nav__link{
    text-decoration-line: none;
    color:color(color-p);
    font-family: $primary-ff;
}
