@import "../../scss/variable";
@import "../../scss/global";
@import "../../scss/font-family";
@import "../../scss/function";

.proyect_box {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    gap: 16px;
    margin-bottom: 12px;
    top: 20px;
    padding: 20px;
    width: 80vw;
    box-shadow: 8px 5px 5px #e4f5f4;
}

.proyect_box:hover {
    background-color: rgb(248, 240, 255);
}

.proyect_box_title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}


#title_usestate {
    color: color(color-complementario);
}

.proyect_description_box,
.proyect_links {
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

.proyect_linkto{
    color: color(color-btn);
    font-weight:lighter;
    font-size: fs(regular);
}

.proyect_linkto_git{
    padding-left: 20px;
    color: color(color-complementario);
    font-weight:lighter;
    font-size: fs(regular);
}

.proyect_linkto_git :hover {
    color: color(color-btn);
    font-weight: bold;
}

/* Tooltip container */
#title_usestate {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
#title_usestate .tooltiptext {
    visibility: hidden;
    width: 150px;
    font-family: monospace;
    font-size: fs(regular);
    background-color: #002fff;
    color: #e2e7fd;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    padding: 12px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: 70px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.proyect_usestate {
    display: none;
}

/* Tooltip arrow */
#title_usestate .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #002fff transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
#title_usestate:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#title_usestate:hover {
    color: aquamarine;
}

.active {
    display: flex;
    text-align: center;
}

a {
    color: color(color-p);
    font-family: $primary-ff;
    text-decoration-color: none;
    font-size: fs(x-small);
}

