@import '../../scss/variable';
@import '../../scss/function';
@import "../../scss/font-family";
@import "../../scss/typography";

.btn {
    margin-bottom: 20px;
}

.btn__pri {
    font-family: $primary-ff;
    background-color: color(color-bg);
    color: color(color-complementario);
    font-size: fs(small);
    font-weight: bolder;
    padding: 12px 20px;
    margin: 20px;
    width: 180px;
    border: 1px solid color(color-complementario);
    box-shadow: 10px 5px 5px #B4B4B4;
}

.btn__pri:hover{
    background-color: #cf89fd;
    transform: translateY(-2px);
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}