
.btn__pri{
    background-color: color(color-btn);
    color: color(color-p);
    padding: 8px 12px;
    margin: 12px;
    border: 0.5px solid color(color-p);
}

.btn__sec{
    background-color: color(color-btn);
    color: color(color-p);
    padding: 8px 12px;
    margin: 12px;
    border: 0.5px solid color(color-p);
}

.btn__pri__disable{
    background-color: color(color-disable);
    color: color(color-p);
    margin: 12px;
    padding: 8px 12px;
    border: 0.5px solid color(color-p);
}



.btn__error{
    background-color: fs(color-error);
    color:fs(color-p);
    margin: 12px;
    padding: 8px 12px;
    border: 0.5px solid fs(color-p);
}