@import '../../scss/font-family';
@import '../../scss/typography';
@import '../../scss/function';
@import '../../scss/variable.scss';

.proyect_h1 {
    padding: 30px;
}

.proyect_detail_box {
    width: 100vw;
    display: flex;
    margin: auto 0;
    flex-direction: column;
    justify-content: center;
}

.proyect_content {
    margin: auto 0;
    color: color(color-p);
    font-family: $primary-ff;
}


.proyect_links {
    display: flex;
    justify-content: center;
    text-align: center;
}

.proyect_linkto{
    color: color(color-btn);
    font-weight: lighter;
    font-size: fs(regular);
}

.proyect_linkto_git{
    padding-left: 20px;
    color: color(color-complementario);
    font-weight: lighter;
    font-size: fs(regular);
}

.proyect_linkto_git :hover {
    color: color(color-btn);
    font-weight: bold;
}

.proyect_img_box {
    margin: 40px 0;
    display: flex;
    justify-content: center;
}

.proyect_img1 {
    width: 60vw;
    height: auto;
}

@media all and (max-width: 780px) {
    .proyect_detail_box {
       padding: 8px;
    }
    .proyect_linkto,
    .proyect_linkto_git {
        font-size: small;
    
    }
}