@import '../../scss/font-family';
@import '../../scss/typography';
@import '../../scss/function';
@import '../../scss/variable.scss';

.proyect_h1 {
  padding: 30px;
  margin-top: 80px;
  font-size: fs(regular);
}

.proyect_detail_box {
  width: 100vw;
  display: flex;
  margin: auto 0;
  flex-direction: column;
  justify-content: center;
}

.proyect_content {
  margin: auto 0;
  color: color(color-p);
  font-family: $primary-ff;
}


.proyect_links {
  display: flex;
  justify-content: center;
  text-align: center;
}

.proyect_linkto {
  color: color(color-btn);
  font-weight: lighter;
  font-size: fs(small);
}

.proyect_linkto_git {
  margin-left: 20px;
  color: color(color-complementario);
  font-weight: lighter;
  font-size: fs(small);
}

.proyect_linkto_git :hover {
  color: color(color-btn);
  font-weight: bold;
}

.proyect_img_box {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}

.proyect_img1 {
  width: 60vw;
  height: auto;
}

@media all and (max-width: 780px) {
  .proyect_detail_box {
    padding: 8px;
  }

  .proyect_linkto,
  .proyect_linkto_git {
    font-size: small;

  }
}

.proyect_img_box {
  position: relative;
  width: 100%;
  height: 500px;
  /* set it to the height */
  overflow: hidden;
}

.image_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
}

.scroll-images {
  width: 100%;
  height: 100%;
  white-space: nowrap;
}

.scrolling-images {
  display: inline-block;
  white-space: nowrap;
  animation: scrollImages 26s linear infinite;
  align-self: flex-end;
  animation-play-state: running;
}

.proyect_img1 {
  width: 60%;
  margin: 0 auto;
  height: auto;
  display: block;
}


@keyframes scrollImages {

  0% {
    transform: translateY(0%);
  }

  5% {
    transform: translateY(0%);
    /* stop up to % */
  }

  100% {
    transform: translateY(calc(-100% + 500px));
  }
}


.link_proyectpage {
  position: fixed;
  bottom: 5px;
  left: 5px;
  padding: 6px;
  margin: 12px;
  border-radius: 4px;
  border: 1px solid color(color-border);
}