@import "../../scss/font-family";
@import "../../scss/typography";
@import "../../scss/variable";
@import "../../scss/function";


.footer__box{
    margin: 4px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    gap: 42px;
    border: 1px solid color(color-border);
    align-items: center;
}

.description{
    width: auto;
    text-align: justify;
    font-size: fs(x-small);
}

.bacoder__small{
    margin: 0 auto;   
}

.bacoder__small :hover{
    fill: color(color-btn);
}
