@import "../../scss/font-family";
@import "../../scss/typography";
@import "../../scss/variable";
@import "../../scss/function";

footer{
    display: flex;
}

.footer__box{
    height: auto;
    margin: 4px;
    padding: 12px;
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 42px;
    border: 1px solid color(color-border);
    align-items: center;
}

.description{
    text-align: justify;
    font-size: fs(x-small);
}

.acoder_sm{
    margin:0 auto;
}

