@import "../../scss/font-family";
@import "../../scss/typography";
@import "../../scss/variable";
@import "../../scss/function";

.icon {

    &__codepen,
    &__git,
    &__mail {
        width: 28px;
    }

    &__linkedin {
        width: 26px;
    }

    &__moon {
        width: 24px;
    }
}

.nav__container {
    width: 100%;
    background-color: white;
    left: 0;
    margin: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 10px 5px 5px #ebebeb;
    border: 1px solid color(color-border);
    position: fixed;
    z-index: 1;
}

.nav__container.dark {
    background-color: #000016;
    box-shadow: 10px 5px 5px #050049;
}

.nav__container>div {
    justify-content: center;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 12px;
    flex-grow: 1;
}

.nav__item__codepen,
.nav__item__git,
.nav__item__linkedin,
.nav__item__home,
.nav__item__work,
.nav__item__about,
.toggle_btn_language,
.toggle_btn_theme,
.nav__item__mail {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $primary-ff;
    font-size: fs(small);
}

.nav__item__linkedin,
.nav__item__home,
.nav__item__work,
.toggle_btn_theme,
.toggle_btn_language,
.nav__item__about {
    border-right: 1px solid color(color-border);
    text-align: center;
}

.nav__container button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: color(color-p);
    font-family: $primary-ff;
    font-size: fs(small);
}

@media all and (max-width: 1440px) {}

@media all and (max-width: 780px) {
    .icon {

        &__codepen,
        &__git,
        &__mail {
            width: 22px;
        }

        &__linkedin {
            width: 22px;
        }

        &__moon {
            width: 20px;
        }
    }

    .nav__container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }

    .nav__container>div {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .nav__container>div:nth-child(-n + 4) {
        flex-basis: 25%;
    }

    .nav__container>div:nth-child(5),
    .nav__container>div:nth-child(6) {
        flex-basis: 30%;
    }

    .nav__container>div:nth-child(7) {
        flex-basis: 5%;
    }

    .nav__container>div:nth-child(8) .nav__container>div:nth-child(9) {
        flex-basis: 5%;
    }

    .nav__item__about .toggle_btn_theme,
    .toggle_btn_language,
    .nav__item__mail {
        padding: 8px;
    }

    .nav__container button {
        font-size: fs(x-small);
    }

    .nav__item__home,
    .nav__item__linkedin,
    .nav__item__codepen,
    .nav__item__git {
        padding: 8px;
        border-bottom: 1px solid color(color-border);
    }

    a {
        font-size: fs(x-small);
    }
}