@import "../../scss/font-family";
@import "../../scss/typography";
@import "../../scss/variable";
@import "../../scss/function";

.icon{
    &__codepen, 
    &__git,
    &__mail{
    width: 28px;
    }

    &__linkedin{
        width: 26px;
    }

    &__moon{
        width: 24px;
        
    }
}


.nav {
    margin: 3px;
    display: grid;
    grid-template-columns: 1fr 6fr 2fr 2fr 3fr;
    border: 1px solid color(color-border);
    grid-auto-rows: minmax(80px, auto);
    box-shadow: 10px 5px 5px #ebebeb;
}

.nav__box__left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    &__item {
        border-right: 1px solid color(color-border);
        list-style: none;
        padding: var(--pd_4);
    }
}

.nav__box__center {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-right: 1px solid color(color-border);

    &__item {
        list-style: none;
        padding: var(--pd_4);
        display: flex;
        align-items: center;
    }
}


.nav__box__right {
    
    &__item_home,
    &__item_work {
        display: grid;
        font-family: $primary-ff;
        font-size: fs(x-small);
        border-right: 1px solid color(color-border);
        text-align: center;
        align-items: center;
        padding: var(--pd_4);
        color:color(color-p);
    }

    &__item_about {
        display: grid;
        font-family: $primary-ff;
        font-size: fs(x-small);
        border-right: none;
        text-align: center;
        align-items: center;
        padding: var(--pd_4);
        color:color(color-btn);
    }
}

a:-webkit-any-link {
    text-decoration: none;
}

li {
    text-align: center;
}

.nav__item {
    list-style: none;
}

@media all and (max-width: 1440px) {
    
   
 } 
