.scroll-effect {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  
    &.scrolled {
      opacity: 1;
      transform: translateY(0);
    }
  }

  
  