@import '../../scss/font-family';
@import '../../scss/typography';
@import '../../scss/function';
@import '../../scss/variable.scss';

 
 a {
    text-decoration-color: none;
}

.return_box{
    width: 90vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}