@import '../../scss/font-family';
@import '../../scss/typography';
@import '../../scss/function';
@import '../../scss/variable.scss';


a {
     text-decoration-color: none;
}

.work_page {
     width: 100vw;
     height: 100vh;
}

.link_more {
     color: color(color-btn);
}

.proyject_page_title {
     margin-top: 40px;
     margin-bottom: 30px;
}

section.proyect_box.featured,.hover-effect {
     height: auto;
     display: flex;
     justify-content: space-between;
     padding-right: 18px;
}

.proyect_description_box{
     height: auto;

}
div .proyect_description{
     font-size: 14px;
     padding-right: 20px;
}