@import "../../scss/font-family";
@import "../../scss/typography";
@import "../../scss/function";
@import "../../scss/variable.scss";

:root {
    --ti-cursor-margin-left: 0.2em;
    --ti-cursor-color: #00fff0;
}

[data-typeit-id="5042987"] .ti-cursor {
    transform: var(--ti-cursor-transform, translateX(0.2em));
}

.typeit {
    padding-bottom: -50px;
    margin: 0 auto;
    font-family: $title-ff;
    font-size: fs(max);
    justify-content: center;
    text-align: left;
    width: 90%;
    height: calc(100vh - 75px);
    min-width: 320px;
    color: rgb(0, 0, 0);
    caret-color: color(color-btn);
}

.footer__box_description {
    font-size: 10px;
}

.freeze_text {
    background: none;
    border: none;
    color: color(color-btn);
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
    font-weight: bolder;
    cursor: pointer;
}

@media all and (max-width: 780px) {
    .typeit {
        margin-bottom: -40px;
        font-size: 80px;
    }
   
   .bacoder__small{
        width:290px;
    }
   
    .footer__box {
        flex-direction: column;
        padding: 6px;
        gap: 6px;
    }

    .footer__box_description{
        font-size: 7px;
        margin:0;
    }
}

@media all and (max-width: 420px) {
    .typeit {
        margin-bottom: -60px;
        font-size: 52px;
    }

    .footer__box {
        padding: 4px;
    }

    .footer__box_description{
        font-size: 6px;
        margin:0;
    }

    .page_about {
        padding: 0px;
    }
}