@import "../../scss/font-family";
@import "../../scss/typography";
@import "../../scss/function";
@import "../../scss/variable.scss";

:root {
    --ti-cursor-margin-left: 0.2em;
    --ti-cursor-color: #00fff0;
}

[data-typeit-id="5042987"] .ti-cursor {
    transform: var(--ti-cursor-transform, translateX(0.2em));
}

.typeit {
    margin: 0 auto;
    font-family: $title-ff;
    font-size: fs(max);
    justify-content: center;
    text-align: left;
    width: 90%;
    min-width: 320px;
    color: rgb(0, 0, 0);
    caret-color: color(color-btn);
}

.footer__box_description{
    font-size: 11px;
}

.freeze_text{
    background: none;
    border:none;
    color:color(color-btn);
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
    font-weight: bolder;
    cursor: pointer;
}

@media all and (max-width: 780px) {
    .typeit {
        font-size: 80px;
    }

    .footer__box {
        flex-direction: column;
        gap: 8px;
    }

    .footer__box_description{
        font-size: 10px;
    }
}

@media all and (max-width: 420px) {
    .typeit {
        font-size: 52px;
    }
    .footer__box_description {
        font-size: 9px;
    }
}