@import '../../scss/font-family';
@import '../../scss/typography';
@import '../../scss/function';
@import '../../scss/variable.scss';

:root{
    --ti-cursor-margin-left: 0.2em;
    --ti-cursor-color: #00FFF0;
}

[data-typeit-id='5042987'] .ti-cursor{
    transform: var(--ti-cursor-transform, translateX(0.2em));
}

.typeit{
    margin:0 auto;
    font-family: $title-ff;
    font-size:fs(max);
    justify-content: center;
    text-align: left;
    width: 90%;
    min-width: 320px;
    color:black;
    caret-color: color(color-btn);
    }

    @media all and (max-width: 1440px) {}
    