

.toggle_btn_box{
    margin-top:130px;
    display: flex;
    flex-direction: column;
    border-style: none;
    background-color: white;
    box-shadow: none;
    color: #8A4ADD;
    cursor: pointer;
    width:40px;
}


