@font-face {
    font-family: 'CabinetGrotesk';
    font-weight:700;
    src: url(/assets/font/CabinetGrotesk-Bold.woff2);
    src: url(/assets/font/CabinetGrotesk-Extrabold.otf);
    src: url(/assets/font/CabinetGrotesk-Black.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');