@font-face {
    font-family: 'CabinetGrotesk';
    font-weight:700;
    src: url(/assets/font/CabinetGrotesk-Bold.woff2);
}

@font-face {
    font-family: 'SpaceGrodesk';
    src: url(/assets/font/SpaceGrotesk-Medium.woff2);
}

@font-face {
    font-family: 'SpaceGrodesk';
    src: url(/assets/font/SpaceGrotesk-Regular.woff2);
}

@font-face {
    font-family: 'SpaceGrodesk';
    src: url(/assets/font/SpaceGrotesk-Bold.woff2);
}
