$grid: 8;
$gap:8;
$grid-margin:8;

@for $i from 1 through $grid {
    .grid__item--#{$i}{
    flex: 0 0 (($i / $grid) * 100%);
}
}

[class^="grid__item--"]{
    height: 50px;
    background-color: pink;
}

.grid {
display: flex;
width: 100%;
gap: $gap;
margin-bottom: $grid-margin;
&__item {
    height: 50px;
    background-color: pink;
    flex: 1;
}
}