.icon__codepen {
    width: 32px;
    height: 32px;
    transition: color 0.3s ease-in-out;
}

.icon__codepen {
    width: 32px;
    height: 32px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    fill: #8e8e8e;
}

.icon__codepen:hover {
    transform: scale(1.2);
}

.icon__git:hover {
    transform: scale(1.2);
}

.icon__linkedin:hover {
    transform: scale(1.2);
}

.icon__mail:hover {
    transform: scale(1.2);
}
.toggle_btn__iconsun:hover{
    transform: scale(1.2);
}

.toggle_btn__iconidoma:hover{
    transform: scale(1.2);
}


.icon__git {
    width: 32px;
    height: 32px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.toggle_btn__iconsun{
    width: 25px;
    height: 25px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.toggle_btn__iconidoma{
    width: 19px;
    height: 19px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.icon__likedin {
    width: 32px;
    height: 32px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.icon__moon {
    width: 32px;
    height: 32px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.icon__mail {
    width: 32px;
    height: 32px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.Icons__box {
    display: flex;
    justify-content: space-around;
    border-width: 1px;
    border-style: solid;
    border-color: color(color-border);
}

.Icons__box__links {
    border-width: 0px 01px 0px 1px;
    border-color: color(color-border);
    border-style: solid;
}

.Icons__box__mailMoon {
    border-width: 0px 01px 0px 1px;
    border-color: color(color-border);
    border-style: solid;
}

.Icons__box__links svg {
    padding: 20px;
}

.Icons__box__mailMoon svg {
    padding: 20px;
}

