

.title{
    font-family: $primary-ff;
    font-size: 3rem;
    color: beige;
}

 p{
    font-family:'Work Sans';
    font-size: 0.8rem;
    color:var(--color_p);
}

h2{
    font-family:'Work Sans';
    color:var(--color_p);
}
    