

.title{
    font-family: $title-ff;
    font-size: $font-big;
    color: beige;
}

 p{
    font-family:'Work Sans';
    font-size: $font-small;
    color:var(--color_p);
}

h2{
    font-family:'Work Sans';
    color:var(--color_p);
}
    