@import './font-family';
@import './variable';
@import './function';
@import './typography';
@import './icons';
@import '../componentes/Btn/Btn.scss';
@import '../componentes/Nav/Nav.scss';


*,
:after,
:before {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {

    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 100vw;
    min-width: 320px;
    min-height: 100vh;
    background-color: color(color-bg);
}

#root {
    display: flex;
    flex-direction: column;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: color(color-bg);
}


main {
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    max-width: 100%;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.exemple__p {
    text-align: left;
}

*::selection {
    background-color: #eeff00;
    color: #f0a2e9;
}

.dark {
    background-color: #000016;
}


a:link,
a:visited,
a:active {
    text-decoration: none;
    position: relative;
}


/* effect transition hover underline */


.nav__container a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    border-bottom: 2px solid transparent;
    background-color: #00ffdd;
    transition: width 0.3s ease;
    /* Add transition for hover */
}

.nav__container a:hover::after {
    width: 100%;
}


.proyect_links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    border-bottom: 2px solid transparent;
    background-color: #00ffdd;
    transition: width 0.3s ease;
    /* Add transition for hover */
}

.proyect_links a:hover::after {
    width: 100%;
}

.scrollToTop{
    position: fixed;
    bottom: 5px;
    right: 5px;
    padding: 6px;
    margin: 12px;
    border: 1px solid color(color-border);
    border-radius: 4px;
}