@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import 'variable';
@import 'function';
@import 'typography';
@import 'grid';


body {
    margin: 0;
    display: flex;
    place-items: center;
    width: 100%;
    min-width: 320px;
    min-height: 100vh;
    background-color: color(color-bg);
}


header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: color(color-bg);
}
.section {
    width: 100%;
    color: color(color-p);
    border: 0.5px solid color(color-border);
}

.nav-box {
    width: 100vw;
    height: 120px;
    border: 0.5px solid color(color-border);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li {
    list-style: none;
    padding: 30px;
    display: flex;
    flex-direction: row;
    border: 0.5px solid color(color-border);
}
