@import 'font-family';

//:root {
//   --color_disable: #97a1af;
//   --color_cancel: #f20d0d;
//   --color_bg: #454f54;
//   --color_border: #ece8df;
//   --color_p: #ece8df;
//   --color_btn: #1fadad;
//}

//mapa de colores

$color-vars: (
   "color-disable": #97a1af,
   "color-complementario": #8A4ADD,
   "color-bg": #ffffff,
   "color-border": #8E8E8E,
   "color-p": #8E8E8E,
   "color-btn": #00FFF0
);

//ejemplo de mapa de color de Wakkos
//$red:red;
//$blue:#000ff;
//$pink: rgb(0,0, 225)
//$mapa-colores:(
// 'red':$red,
// 'blue':$blue,
// 'pink':$pink
//);

// @each $color, $i in $colors {
//   .text-#{$color} {
//      color: $i;
//    .bg-#{$color} {
//      backround-color: $i;
//   }
//}


//font-familiy
$primary-ff: "Space Grotesk";
$title-ff: "Cabinet Grotesk-Extrabold";

//font size variable
//$font-x-small: 0.8rem;
//$font-small: 0.9rem;
//$font-regular: 1.2rem;
//$font-big: 3rem;
//$font-x-big: 5rem;

//Mapa de tamaño de fuentes => Se utiliza para colores tambien
$size-vars: (
   "x-small": 0.8,
   //14px
   "small": 0.9,
   //16px
   "regular": 1.25,
   //20px
   "big": 2.5,
   //40px
   "x-big": 4.25,
    //68px
);



@mixin font-size($font-size: $font-regular) {
   font-size: $font-size;

   @include mq(regular) {
      font-size: $font-size * 1.2;
   }
}
.color__box li{
   font-family: $primary-ff;
   font-size: fs(regular);
   color: rgb(99, 99, 99); 
   list-style: none;
   text-align: left;
   padding-left: 8px;
   border-width: 1px ;
   border-style: solid;
   border-color: color(color-border);
}

.disable {
   background-color: color(color-disable);
   height: 70px;
}

.bg {
   background-color: color(color-bg);
   height: 70px;
}

.border {
   background-color: color(color-p);
   color: color(color-bg);
   height: 70px;
}

.p {
   background-color: color(color-p);
   color: color(color_bg);
   height: 70px;
}

.color_btn {
   background-color: color(color-btn);
   height: 70px;
}
.complementario{
   background-color: color(color-complementario);
   height: 70px;
}

.font__box{
display: flex;
justify-content: center;
flex-direction: column;
}

