 :root{
    --color_disable:#97A1AF;
    --color_error:#F20D0D;
    --color_bg:#454F54;
    --color_border:#EDE7DE;
    --color_p:#EDE7DE;
    --color_btn:#1FADAD;
 }

$primary-ff: 'Work-Sans';
$title-ff: 'Bruno Ace';

$font-x-small: 0.8rem;
$font-small: 0.9rem;
$font-regular: 1.2rem;
$font-big: 3rem;
$font-x-big: 5rem;

//Mapa de tamaño de fuentes => Se utiliza para colores tambien

      $size-vars:(
         "x-small" :0.8,//14px
         "small" :0.9,//16px
         "regular" :1.25,//20px
         "big" :2.5,//40px
         "x-big" :4.25//68px
      );

      @function fs($font-size) {
         @return map-get($size-vars, $font-size) * 1rem;
      }
      
      h1 {
         font-size: fs(x-big);
      }
 
//hasta aquí (mapa)

@mixin font-size ($font-size :$font-regular){
    font-size: $font-size;
    @include mq(regular) {
        font-size: $font-size *1.2;
    }
}



 .disable{
    background-color: var(--color_disable);
 }
 .error{
    background-color: var(--color_error);
 }
 .bg{
    background-color: var(--color_bg);
 }
 .border{
    background-color: var(--color_border);
    color:var(--color_bg);
 }
 .p{
    background-color: var(--color_p);
    color:var(--color_bg);
 }
 .btn{
    background-color: var(--color_btn);
 }
